services:
  devcontainer:
    build:
      context: './'
      dockerfile: './Dockerfile'
      target: 'devcontainer'
    command: 'sleep infinity'
    environment:
      APP_ENV: 'local'
      MYSQL_DATABASE: 'db'
      MYSQL_HOST: 'mysql'
      MYSQL_PASSWORD_FILE: '/run/secrets/db_password'
      MYSQL_ROOT_PASSWORD_FILE: '/run/secrets/db_root_password'
      MYSQL_USER: 'db'
      NODE_ENV: 'development'
    networks:
      - 'mysql'
      - 'php'
      - 'valkey'
    secrets:
      - 'db_password'
      - 'db_root_password'
    user: 'devcontainer:devcontainer'
    volumes:
      - './:/var/www/html'
  nginx:
    volumes:
      - './:/var/www/html'
  php:
    build:
      context: './'
      dockerfile: './Dockerfile'
      target: 'devcontainer'
    environment:
      APP_ENV: 'local'
      NODE_ENV: 'development'
    volumes:
      - './:/var/www/html'
