<?php

declare(strict_types=1);

use Laminas\ConfigAggregator\ArrayProvider;
use Laminas\ConfigAggregator\ConfigAggregator;
use Mezzio\Tooling\ConfigProvider;

return new ConfigAggregator([
    ConfigProvider::class,
    new ArrayProvider([
        'debug' => true,
        ConfigAggregator::ENABLE_CACHE => false,
    ]),
])->getMergedConfig();
